<div class="container pt-4">
  <div class="card bg-white">
    <div class="card-body">
        <!--
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Nombre</label>
			<div class="col-sm-6">
				<input type="text" th:field="*{nombre}" class="form-control" th:errorclass="'form-control alert-danger'" />
				<small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="form-text text-danger"></small>
			</div>
		</div>
-->
        <form [formGroup]="formulario" id="form-usuario" (ngSubmit)="onSubmit()" class="form-contact">
          <h2>Registro Newsletter</h2>
          <label for="nombre" class="contact-information">
            <span class="label" for="nombres">Nombre</span>
            <input class="input" type="text" id="nombre" name="nombres" formControlName="nombres" placeholder="ej. Juan Manuel">
          </label>
          <label for="email" class="contact-information">
            <span class="label" for="correo">Email</span>
            <input class="input" type="email" id="email" name="correo" formControlName="correo" placeholder="ej. miemail@mail.com">
          </label>
          <input class="submit" type="submit" value="enviar">
        </form>
    </div>
  </div>
</div>
<div class="modal" id="modalError" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger text-border">ERROR</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-block alert-danger">
          ERROR, EL USUARIO EXISTE!!! INGRESE UNO NUEVO.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="modalSucces" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success text-border">REGISTRO SATISFACTORIO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-block alert-success">
          USUARIO REGISTRADO!! <br>
          Par activar su correo revise su bandeja de entrada.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>